html {
    background: #FDE1EE;

}

.intro {
    font-size: 20px;
    font-family: 'Staatliches', cursive;
    text-align:end;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff5ca896;
  }

  li {
    display: inline;
    padding: 30px;
    font-size: 20px;
    font-family: fantasy;
    text-decoration: none;
    
    
  }
  
  li a {
      display: inline;
      color:rgb(209, 231, 250);
      text-align: center;
      padding: 30px 16px;
      text-decoration: none;

  }

  li a:hover {
      background-color: rgb(255, 224, 239);
      color: rgb(161, 0, 81);
  }

  h1 {
    font-family: 'Abel', sans-serif;
    text-align: center;
  }

  .about-home-block{
    font-family: 'Abel', sans-serif;
    text-align: center;
  }

  .skills {
    font-family: 'Abel', sans-serif;
    text-align: center;
  }


    


