html {
    background: #FDE1EE;

}

header {
    font-size: 60px;
    font-family: 'Staatliches', cursive;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff5ca896;
  }

  li {
    display: inline;
    padding: 8px;
    font-size: 20px;
    font-family: fantasy;
    text-decoration: none;
    
  }
  
  li a {
      display: inline;
      color:rgb(209, 231, 250);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;

  }

  li a:hover {
      background-color: rgb(255, 224, 239);
      color: rgb(161, 0, 81);
  }

  h1 {
      font-family: monospace;
  }


    


